.projectMain{
    border-top: 5px solid #050c11;
    background-image: url('../images/bg7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed; 
    /* display: block;*/
    display:flex;
    flex-direction:row;
    /* align-items:center; */
    overflow: hidden;
}
*{
    font-family: Quicksand;
}